<nav>
  <ul>
    <li><a href="/">Home</a></li>
    {{#if loggedIn}}
      <!-- Show these links if the user is logged in -->
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/logout">Logout</a></li>
    {{else}}
      <!-- Show these links if the user is not logged in -->
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
    {{/if}}
  </ul>
</nav>

{{! Path: views\partials\navbar.handlebars }}