<h1>Create a Blog Post</h1>
<form>
  <input id="blogTitle" type="text" name="title" placeholder="Title" required />
  <textarea id="blogContent" name="content" placeholder="Content" required></textarea>
  <button id="blogPostSubmitBtn" type="submit">Create Post</button>
</form>

{{! Path: views\post.handlebars }}