<h1>Dashboard</h1>
<h3>Welcome, {{username}}!</h3>
<a href="/post">Create a New Post</a>
<ul>
  {{#each posts}}
    <li>
      <h4>{{this.title}}</h4>
      <p>{{this.content}}</p>
    </li>
  {{/each}}
</ul>
