{{! Link the CSS file with the correct relative path }}
<link rel="stylesheet" href="../public/css/style.css" />

<!-- Rest of the code remains the same -->
<div class="container container-fluid mt-5">

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="panel">
        <!-- Wrap the h3 heading within a div with the .panel class -->
        <h3>Edit Blog Post:</h3>
      </div>

      <form class="form edit-blogpost-form">
        <div class="form-group">
          <input
            type="hidden"
            id="blogpost-id"
            name="blogpost-id"
            value="{{id}}"
          />
          <label for="blogpost-title" class="panel">Title:</label>
          <input
            class="form-input panel"
            type="text"
            id="blogpost-title"
            name="blogpost-title"
            value="{{blog_title}}"
          />
        </div>

        <div class="form-group">
          <label for="blogpost-content" class="panel">Content:</label>
          <textarea
            class="form-input panel"
            type="text"
            id="blogpost-content"
            name="blogpost-content"
          >{{blog_content}}</textarea>
        </div>
        <div class="form-group">
          <button
            type="submit"
            id="update-post"
            class="btn btn-primary panel"
          >Update Blog Post</button>

          {{! <button type="submit" id="update-post" class="btn btn-primary panel">Update</button> }}
          <button
            type="submit"
            id="delete-post"
            class="btn btn-primary panel"
          >Delete Blog Post</button>
        </div>
      </form>
    </div>
  </div>

</div>

<script src="../public/js/editblogpost.js"></script>