<h2 class="latest-posts-heading">Latest Blog Posts:</h2>
<div class="blog-posts-container container-fluid mt-5">

  {{#each blogposts as |blog|}}
    <div class="blog-post blog-post-border">
      <div class="blog-title">
        <h2>
          {{blog.blog_title}}
        </h2>
        <p>Created by {{blog.author.name}} on {{format_date blog.date_created}}</p>
      </div>
      <div class="blog-content">
        <p>
          {{blog.blog_content}}
        </p>
      </div>
    </div>
  {{/each}}

</div>
