   <h1>Sign Up</h1>
    <form>
      <input id="username" type="text" name="username" placeholder="Username" required>
      <input id="email" type="email" name="email" placeholder="Email" required>
      <input id="password" type="password" name="password" placeholder="Password" required>
      <button id="submitBtn" type="submit">Sign Up</button>
    </form>

    {{! Path: views\signup.handlebars }}